Hi

<fb:login-button v="2" size="medium">Connect with Facebook</fb:login-button>

<fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic>

<input type="button" onclick="callPublish('',{'name':'Check this out','href':'http://kastnerd.metaatem.net/','description':'Check it out!'},null, '166846993630');return false;" value="Preview Dialog" />