<h2>Connect!</h2>
<div>
  <fb:login-button v="2" size="medium">Connect with Facebook</fb:login-button>
</div>

<h2>This is you (if you're CONNECTED)</h2>
<div>
  <fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic>
</div>

<h2>Fan the page</h2>
<div>
  <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("c91e11af2ec3c554121aae20db6ef197");</script><fb:fan profile_id="166846993630" stream="" connections="" width="300"></fb:fan><div style="font-size:8px; padding-left:10px"><a href="http://www.facebook.com/pages/A-page-for-k-nerd/166846993630">A page for k-nerd on Facebook</a> </div>
</div>

<h2>Post to the page</h2>
<div>
  <input type="button" onclick="callPublish('',{'name':'Check this out','href':'http://kastnerd.metaatem.net/','description':'Check it out!'},null, '166846993630');return false;" value="Preview Dialog" />
  <input type="button" onclick="callPublish('',{'media':[{'type': 'image', 'src': 'http://slash7.com/amy_sm.jpg', 'href': 'http://slash7.com'}]},null, '166846993630');return false;" value="Post a pic" />
</div>


